<!DOCTYPE html>
<html lang="en">

<body>
    <div id="page-holder">
        <div id="admin-container">
            <h1>Select Users</h1>

            <%for(let i = 0; i < 3; i++) { %>
                <div class="small-input-container" id="user-container">
                    <label for="red-one"><b> <%= "Red " + (i + 1) %> </b></label>
                    <select name="red-one" class="select-user">
                        <%for(let i = 0; i < team.length; i++) { %>
                            <option value= <%=team[i].id%> > <%=team[i].name%> </option>
                        <% }%>
                    </select>
                </div>
            <% } %>
            <%for(let i = 0; i < 3; i++) { %>
                <div class="small-input-container" id="user-container">
                    <label for="blue-one"><b> <%= "Blue " + (i + 1) %> </b></label>
                    <select name="blue-one" class="select-user">
                        <%for(let i = 0; i < team.length; i++) { %>
                            <option value= <%=team[i].id%> > <%=team[i].name%> </option>
                        <% }%>
                    </select>
                </div>
            <% } %>
        </div>
    </div>
</body>