<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Scoutify</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/data-collection.css">
    <link rel="stylesheet" href="../static/team-summary.css">
    <link rel="stylesheet" href="../static/match-strategy.css">
    <link rel="stylesheet" href="../static/alliance-selector.css">
    <link rel="stylesheet" href="../static/match-listing.css">
    <link rel="stylesheet" href="../static/admin-page.css">
    <link rel="stylesheet" href="../static/rankings.css">
    <link rel="stylesheet" href="../static/team-details.css">
    <link rel="stylesheet" href="../static/alliance-input.css">
    <link rel="icon" href="../static/images/bison-robotics.png" type="image/png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> <!--Chart.js CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" defer></script>
    <script type="module" src="../static/scripts/team-summary.js" defer></script>
    <script type="module" src="../static/scripts/data-collection.js" defer></script>
    <script type="module" src="../static/scripts/alliance-selector.js" defer></script>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <script type="module" src="../static/scripts/match-listing.js" defer></script>
    <script type="module" src="../static/scripts/admin-page.js" defer></script>
    <script type="module" src="../static/scripts/match-strategy.js" defer></script>
    <script type="module" src="../static/scripts/rankings.js" defer></script>
    <script type="module" src="../static/scripts/team-details.js" defer></script>
    <script type="module" src="../static/scripts/alliance-input.js" defer></script>
    <script type="module" src="../static/scripts/alliance-selector.js" defer></script>
</head>

<body>

    <%- include("../static/partials/header") %>

        <div id="page-holder">
            
            

            <%if(assignment != null) {%> <!--Check if user has access-->
                <div id="data-collection-tabs">
                    <button <%- `class= "data-collection-tab ${(selectedPage == "scouting-page" ? "selected" : "")}"`%> page="scouting-page">
                        Scout
                    </button>
                    <button <%- `class= "data-collection-tab ${(selectedPage == "comments-page" ? "selected" : "")}"`%> page="comments-page">
                        Comments
                    </button>
                </div>
            
                <% if(selectedPage == "scouting-page") {%> 
                    <form id="match-number-form" action="/data-collection" method="POST" page="scouting-page" alliance=<%=assignment.gm_alliance%> alliance-position=<%=assignment.gm_alliance_position%>>
                <% }else {%>
                    <form id="match-number-form" action="/data-collection" method="POST" page="scouting-page" alliance=<%=assignment.gm_alliance%> alliance-position=<%=assignment.gm_alliance_position%> style="display:none">
                <%}%>
                
            <!-- MATCH NUMBER-->
            <div id="text-container">   
                <span id="match-number">
                    <%= assignment.match_display%> 
                </span>
            </div>

            <!--ASSIGNED TEAM-->
            <div id="text-container">
                <span class=<%=assignment.team_color %> > <%= assignment.team_display %> </span>
            </div>

            <div id="input-scroller">
                <!--PREGAME-->
                <div class="line" id="pre-game">ㅤ</div>
                <div class="input-container">
                    <span>Starting Position</span>
                    <div class="NumberButtonContainer">
                        <button type="button" class="big-button">+</button>
                        <input type="number" name="starting-position" min="1" max="3" value="1">
                        <button type="button" class="big-button">-</button>
                    </div>
                </div>
                <div class="input-container">
                    <span>Robot Preload</span>
                    <div class="NumberButtonContainer">
                        <button type="button" class="big-button">x</button>
                        <input name="robot-preload">
                        <button type="button" class="big-button">
                            <img src="../static/images/checkmark.png" id="button-checkmark">
                        </button>
                    </div>
                </div>

                <div class="line" id="autonomous">ㅤ</div>

                <div class="input-container">
                    <span>Robot Leaves Community</span>
                    <div class="NumberButtonContainer">
                        <button type="button" class="big-button">x</button>
                        <input name="robot-taxies">
                        <button type="button" class="big-button">
                            <img src="../static/images/checkmark.png" id="button-checkmark">
                        </button>
                    </div>
                </div>

                <!--AUTON SCORING GRID-->
                <div class="input-container">
                    <span>Game pieces picked up in Auton</span>
                    <div class="NumberButtonContainer">
                        <button type="button" class="big-button">+</button>
                        <input type="number" name="game-pieces-picked-up-auton" min="0" max="5" value="0">
                        <button type="button" class="big-button">-</button>
                    </div>
                </div>
                <div class="input-container">
                    <span>Robot Auto Scoring</span>
                    <div class="scoring-container" id="auto-scoring">
                        <div class="table-labels">
                            <p>Top</p>
                            <p>Middle</p>
                            <p>Bottom</p>
                        </div>
                        <div class="table-scroller">
                            <%let tblNames=["Inner", "Co-Op" , "Outer" ]%>
                                <% for(let i=0; i < 3; i++) { %>
                                    <div class="table-wrapper">
                                        <table>
                                            <tr>
                                                <td class="fill-cone">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                                <td class="fill-cube">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                                <td class="fill-cone">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fill-cone">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                                <td class="fill-cube">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                                <td class="fill-cone">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fill-both">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                                <td class="fill-both">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                                <td class="fill-both">
                                                    <button type="button" class = "scoring-button">
                                                        <img src="">
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>
                                            <%= tblNames[i] %>
                                        </p>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <span>Robot Auto Docking</span>
                    <div class="radio-button-container">
                        <input type="radio" id="auto-unattempted" name="auto-docking" value="unattempted">
                        <label for="auto-unattempted">Unattempted</label>
                        <br>
                        <input type="radio" id="auto-attempted" name="auto-docking" value="attempted">
                        <label for="auto-attempted">Attempted (unsuccessful)</label>
                        <br>
                        <input type="radio" id="auto-docked" name="auto-docking" value="docked">
                        <label for="auto-docked">Docked</label>
                        <br>
                        <input type="radio" id="auto-engaged" name="auto-docking" value="engaged">
                        <label for="auto-engaged">Engaged</label>
                    </div>
                </div>

                <!--TELEOP-->
                <div class="line" id="tele-op">ㅤ</div>


                <!-- TELEOP SCORING GRID-->
                <div class="input-container">
                    <span>Robot Teleop Scoring</span>
                    <div class="scoring-container" id="teleop-scoring">
                        <div class="table-labels">
                            <p>Top</p>
                            <p>Middle</p>
                            <p>Bottom</p>
                        </div>
                        <div class="table-scroller">
                            <% for(let i=0; i < 3; i++) { %>
                                <div class="table-wrapper">
                                    <table>
                                        <tr>
                                            <td class="fill-cone">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                            <td class="fill-cube">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                            <td class="fill-cone">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fill-cone">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                            <td class="fill-cube">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                            <td class="fill-cone">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fill-both">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                            <td class="fill-both">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                            <td class="fill-both">
                                                <button type="button" class = "scoring-button">
                                                    <img src="">
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    <p>
                                        <%= tblNames[i] %>
                                    </p>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <span style="color: #EEC800">Supercharged Cones</span>
                    <div class="NumberButtonContainer">
                        <button type="button" class="big-button">+</button>
                        <input type="number" name="supercharge-cones" min="0" max="10" value="0">
                        <button type="button" class="big-button">-</button>
                    </div>
                </div>

                <div class="input-container">
                    <span style="color: blueviolet">Supercharged Cubes</span>
                    <div class="NumberButtonContainer">
                        <button type="button" class="big-button">+</button>
                        <input type="number" name="supercharged-cubes" min="0" max="10" value="0">
                        <button type="button" class="big-button">-</button>
                    </div>
                </div>

                

                <!--ENDGAME-->
                <div class="line" id="endgame">ㅤ</div>

                <div class="input-container">
                    <span>Robot is in Community</span>
                    <div class="NumberButtonContainer">
                        <button type="button" class="big-button">x</button>
                        <input name="robot-taxies">
                        <button type="button" class="big-button">
                            <img src="../static/images/checkmark.png" id="button-checkmark">
                        </button>
                    </div>
                </div>

                <div class="input-container">
                    <span>Robot Endgame Docking</span>
                    <div class="radio-button-container">
                        <input type="radio" id="teleop-unattempted" name="teleop-docking" value="unattempted">
                        <label for="teleop-unattempted">Unattempted</label>
                        <br>
                        <input type="radio" id="teleop-attempted" name="teleop-docking" value="attempted">
                        <label for="teleop-attempted">Attempted (unsuccessful)</label>
                        <br>
                        <input type="radio" id="teleop-docked" name="teleop-docking" value="docked">
                        <label for="teleop-docked">Docked</label>
                        <br>
                        <input type="radio" id="teleop-engaged" name="teleop-docking" value="engaged">
                        <label for="teleop-engaged">Engaged</label>
                    </div>
                </div>

                <div class="input-container">
                    <span>Game Piece Intake From</span>
                    <div class="radio-button-container">
                        <input type="radio" id="cargo-from-substation" name="cargo-from" value="substation">
                        <label for="cargo-from-substation">Substation</label>
                        <br>
                        <input type="radio" id="cargo-from-ground" name="cargo-from" value="ground">
                        <label for="cargo-from-ground">Ground</label>
                        <br>
                        <input type="radio" id="cargo-from-both" name="cargo-from" value="both">
                        <label for="cargo-from-both">Both</label>
                        <br>
                        <input type="radio" id="cargo-from-none" name="cargo-from" value="none">
                        <label for="cargo-from-none">None</label>
                        <br>
                    </div>
                </div>

                <div class="input-container">
                    <span>Robot Fumbles Cones</span>
                    <div class="radio-button-container">
                        <input type="radio" id="fumbles-cones-n/a" name="fumbles-cones" value="n/a">
                        <label for="fumbles-cones-n/a">Does not pick up cones</label>
                        <br>
                        <input type="radio" id="fumbles-cones-often" name="fumbles-cones" value="often">
                        <label for="fumbles-cones-often">Often</label>
                        <br>
                        <input type="radio" id="fumbles-cones-sometimes" name="fumbles-cones" value="sometimes">
                        <label for="fumbles-cones-sometimes">Sometimes</label>
                        <br>
                        <input type="radio" id="fumbles-cones-rarely" name="fumbles-cones" value="rarely">
                        <label for="fumbles-cones-rarely">Rarely</label>
                        <br>
                    </div>
                </div>

                <div class="input-container">
                    <span>Robot Fumbles Cubes</span>
                    <div class="radio-button-container">
                        <input type="radio" id="fumbles-cubes-n/a" name="fumbles-cubes" value="n/a">
                        <label for="fumbles-cubes-n/a">Does not pick up cubes</label>
                        <br>
                        <input type="radio" id="fumbles-cubes-often" name="fumbles-cubes" value="often">
                        <label for="fumbles-cubes-often">Often</label>
                        <br>
                        <input type="radio" id="fumbles-cubes-sometimes" name="fumbles-cubes" value="sometimes">
                        <label for="fumbles-cubes-sometimes">Sometimes</label>
                        <br>
                        <input type="radio" id="fumbles-cubes-rarely" name="fumbles-cubes" value="rarely">
                        <label for="fumbles-cubes-rarely">Rarely</label>
                        <br>
                    </div>
                </div>
                <div class="input-container">
                    <span>Additional Comments</span>
                    <div id="comments-container">
                        <textarea rows="5" cols="33"></textarea>
                    </div>
                </div>
            </div>
            
            <button type="submit" id="data-submit" class="big-button">Save</button>

        </form>

                <% if(selectedPage == "comments-page") {%>
                    <form id="comments-page" page="comments-page">
                <% }else {%>
                    <form id="comments-page" page="comments-page" style="display: none">
                <%}%> 
                
                <% } else {%>
                    
                    <div id="data-collection-tabs">
                        <button class="data-collection-tab" page="scouting-page">
                            Scout
                        </button>
                        <button class="data-collection-tab selected" page="comments-page">
                            Comments
                        </button>
                    </div>

                    <form page="scouting-page" style="display:none">
                        <p id="access-denied">A match isn't running or you aren't assigned to scout</p>
                    </form>

                    <form id="comments-page" page="comments-page">
                <% } %>

                <!--Everything under here is comments page-->
                <div class="small-input-container" id="select-match">
                    <label id="match-comment-label" for="select-match"><b>Match:</b></label>
                    <select id="match-comment-selector" name="select-match">
                        <% for(let i = 0; i < matches.length; i++) { %>
                            <%if(matches[i].gm_number == lastMatch) {%>
                                <option selected>
                                    <%= matches[i].gm_number %>
                                </option>
                            <%} else {%>
                                <option>
                                    <%= matches[i].gm_number %>
                                </option>
                            <%}%>
                        <% } %>
                    </select>
                </div>

                <div id="comments-scroller">
                    <% for(let i = 0; i < 3; i++) {%> 
                        <div class="input-container ">
                            <div class="comments-info">
                                <span class="comments-team red" <%- `alliance=${matchup[i].gm_alliance} pos=${matchup[i].gm_alliance_position}`%>>
                                    <%=matchup[i].team_master_tm_number + " " + matchup[i].tm_name%>
                                </span>
                            </div>
                            <textarea class="comments-text" rows="5" cols="33"></textarea>
                        </div>
                    <%}%>
                    <% for(let i = 3; i < 6; i++) {%> 
                        <div class="input-container ">
                            <div class="comments-info">
                                <span class="comments-team blue" <%- `alliance=${matchup[i].gm_alliance} pos=${matchup[i].gm_alliance_position}`%>>
                                    <%=matchup[i].team_master_tm_number + " " + matchup[i].tm_name%>
                                </span>
                            </div>
                            <textarea class="comments-text" rows="5" cols="33"></textarea>
                        </div>
                    <%}%>
                </div>

                

                <button id="save-comments" class="big-button">Save</button>

            </div>

            <!--Comments page ends-->

            </div>

        <%- include("../static/partials/footer") %>

</body>

</html>