
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Scoutify</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/data-collection.css">
    <link rel="stylesheet" href="../static/team-summary.css">
    <link rel="stylesheet" href="../static/match-strategy.css">
    <link rel="stylesheet" href="../static/alliance-selector.css">
    <link rel="stylesheet" href="../static/match-listing.css">
    <link rel="stylesheet" href="../static/admin-page.css">
    <link rel="stylesheet" href="../static/rankings.css">
    <link rel="stylesheet" href="../static/team-details.css">
    <link rel="stylesheet" href="../static/alliance-input.css">
    <link rel="icon" href="../static/images/funnyLebron.jpg" type="image/x-icon">

</head>

<body>

    <%- include("../static/partials/header") %>

        <div id="page-holder">          

            <form id="comments-page" page="comments-page">
             

                <!--Everything under here is comments page-->
                <div class="small-input-container" id="select-match">
                    <label id="match-comment-label" for="select-match"><b>Match:</b></label>
                    <select id="match-comment-selector" name="select-match">
                        <% for(let i = 0; i < matches.length; i++) { %>
                            <%if(matches[i].gm_number == lastMatch) {%>
                                <option selected>
                                    <%= matches[i].gm_number %>
                                </option>
                            <%} else {%>
                                <option>
                                    <%= matches[i].gm_number %>
                                </option>
                            <%}%>
                        <% } %>
                    </select>
                </div>

                <div id="comments-scroller">
                    <% for(let i = 0; i < 3; i++) {%> 
                        <div class="input-container ">
                            <div class="comments-info">
                                <span class="comments-team red" <%- `alliance=${matchup[i].gm_alliance} pos=${matchup[i].gm_alliance_position}`%>>
                                    <%=matchup[i].team_master_tm_number + " " + matchup[i].tm_name%>
                                </span>
                            </div>
                            <textarea class="comments-text" rows="5" cols="33"></textarea>
                        </div>
                    <%}%>
                    <% for(let i = 3; i < 6; i++) {%> 
                        <div class="input-container ">
                            <div class="comments-info">
                                <span class="comments-team blue" <%- `alliance=${matchup[i].gm_alliance} pos=${matchup[i].gm_alliance_position}`%>>
                                    <%=matchup[i].team_master_tm_number + " " + matchup[i].tm_name%>
                                </span>
                            </div>
                            <textarea class="comments-text" rows="5" cols="33"></textarea>
                        </div>
                    <%}%>
                </div>

                

                <button id="save-comments" class="big-button">Save</button>

            </div>

            <!--Comments page ends-->

            </div>

        <%- include("../static/partials/footer") %>

</body>

</html>
