<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <div id="page-holder">
        <div class="small-input-container" id="select-match">
            <label id="select-match" for="select-match"><b>Select Match:</b></label>
            <select id="available-matches" name="select-match">
                <% for(let i = 0; i < gameNumbers.length; i++) { %>
                    <%if(gameNumbers[i].gm_number == match) {%>
                        <option selected>
                            <%= gameNumbers[i].gm_number %>
                        </option>
                    <%} else {%>
                        <option>
                            <%= gameNumbers[i].gm_number %>
                        </option>
                    <%}%>
                <% } %>
            </select>
        </div>

        <table id="stats">
            <colgroup>
                <col span="1" style="width:14%">
            </colgroup>
            <colgroup>
                <col span="1" style="width:22%">
            </colgroup>
            <colgroup>
                <col span="1" style="width:15%">
            </colgroup>
            <colgroup>
                <col span="1" style="width:13%">
            </colgroup>
            <colgroup>
                <col span="1" style="width:18%">
            </colgroup>
            <colgroup>
                <col span="1" style="width:12%">
            </colgroup>
            <tr>
                <th>
                    Team
                </th>
                <th>
                    Name
                </th>
                <th>
                    Prefers
                </th>
                <th>
                    Links
                </th>
                <th>
                    Docking
                </th>
                <th>
                    Total
                </th>
            </tr>
            <% for(let i = 0; i < 6; i++) { %>
                <%if(matchup[i].team_master_tm_number == 695) {%>
                    <tr style="background-color:#FFF5D6">
                <% } else { %>
                    <tr>
                <% } %>
                    <td class= <%= matchup[i].gm_alliance%>>
                        <%= matchup[i].team_master_tm_number %>
                    </td>
                    <td>
                        <%= matchup[i].tm_name %>
                    </td>
                    <td>
                        <img class="preferred-game-piece" src="../static/images/cone.svg">
                        <img class="preferred-game-piece" src="../static/images/cube.svg">
                    </td>
                    <td>
                        
                    </td>
                    <td>

                    </td>
                    <td>
                        <%= Math.round(matchup[i].avg_gm_score) %>
                    </td>
                </tr>
            <% } %>

        </table>

        <div id="scoring">
            <div id="red-score">
                <% if(info.undecided) {%>
                    <h4>
                        Red Team Predicted Score
                    </h4>
                    <h2>
                        <%= Math.round(matchup[0].avg_gm_score + matchup[1].avg_gm_score + matchup[2].avg_gm_score) %>
                    </h2>
                <% } else { %>
                    <h4>
                        Red Team  Score
                    </h4>
                    <h2>
                        <%= info.redScore %>
                    </h2>
                <% } %>
            </div>
    
            <div id="blue-score">
                <% if(info.undecided) {%>
                    <h4>
                        Blue Team Predicted Score
                    </h4>
                    <h2>
                        <%= Math.round(matchup[3].avg_gm_score + matchup[4].avg_gm_score + matchup[5].avg_gm_score) %>
                    </h2>
                <% } else { %>
                    <h4>
                        Blue Team  Score
                    </h4>
                    <h2">
                        <%= info.blueScore %>
                    </h2>
                <% } %>
            </div>
        </div>
        <!--
        <div class="strategy-display">
             <!--<em> is for red text and <b> is for blue text
            <p class="strategy-header">
                Suggested Strategy for <b>Blue Team</b>
            </p>
            <div class="strategy-divider">ㅤ</div>
            <p>
                <%#- info.blueStrategy[0] %>
            </p>
            <p>
                <%#- info.blueStrategy[1] %>
            </p>
            <p>
                <%#- info.blueStrategy[2] %>
            </p>
        </div>

        <div class="strategy-display">
            <!--<em> is for red text and <b> is for blue text
           <p class="strategy-header">
               Suggested Strategy for <em>Red Team</em>
           </p>
           <div class="strategy-divider">ㅤ</div>
           <p>
               <%#- info.redStrategy[0] %>
           </p>
           <p>
               <%#- info.redStrategy[1] %>
           </p>
           <p>
               <%#- info.redStrategy[2] %>
           </p>
       </div>
    -->
    </div>
</body>