<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <div id="page-holder">
        <div class="small-input-container" id="select-match">
            <label id="select-match" for="select-match"><b>Select Match:</b></label>
            <select id="available-matches" name="select-match">
                <% for(let i = 0; i < gameNumbers.length; i++) { %>
                    <%if(gameNumbers[i].gm_number == match) {%>
                        <option selected>
                            <%= gameNumbers[i].gm_number %>
                        </option>
                    <%} else {%>
                        <option>
                            <%= gameNumbers[i].gm_number %>
                        </option>
                    <%}%>
                <% } %>
            </select>
        </div>

        <div id="match-strategy-container">
            <div id="match-strategy-graph-container">
                <table id="alliance-properties">
                    <colgroup>
                        <col span="1" style="width:60%">
                    </colgroup>
                    <tr id="predicted-score">
                        <td>Predicted Score:</td>
                        <td class="R">
                            <%= Math.round(matchup[0].total_game_score_avg + matchup[1].total_game_score_avg + matchup[2].total_game_score_avg) %>
                        </td>
                        <td class="B">
                            <%= Math.round(matchup[3].total_game_score_avg + matchup[4].total_game_score_avg + matchup[5].total_game_score_avg) %>
                        </td>
                    </tr>
                    <tr id="coopertition-expected">
                        <td>Alliance Can Dislodge:</td>
                        <td class="R">
                            <%=matchup.slice(0, 3).reduce((a, b) => a + b.total_algae_dislodge_avg, 0) > 1 ? "True" : "False";%>
                        </td>
                        <td class="B">
                            <%=matchup.slice(3, 6).reduce((a, b) => a + b.total_algae_dislodge_avg, 0) > 1 ? "True" : "False";%>
                        </td>
                    </tr>
                    <tr id="stockpile-suggested">
                        <td>Recommended Play:</td>
                        <td class="B">
                            <%=matchup.slice(0, 3).reduce((a, b) => a + b.total_algae_dislodge_avg, 0) >= 3 ?
                                (Math.abs(matchup.slice(0, 3).reduce((a, b) => a + b.total_game_score_avg, 0) - matchup.slice(3, 6).reduce((a, b) => a + b.total_game_score_avg, 0)) >= 22 ? "Coral RP" : "Max Pts")
                                : "Max Pts"%>
                        </td>
                        <td class="R">
                            <%=matchup.slice(0, 3).reduce((a, b) => a + b.total_algae_dislodge_avg, 0) >= 3 ?
                                (Math.abs(matchup.slice(0, 3).reduce((a, b) => a + b.total_game_score_avg, 0) - matchup.slice(3, 6).reduce((a, b) => a + b.total_game_score_avg, 0)) >= 22 ? "Coral RP" : "Max Pts")
                                : "Max Pts"%>
                        </td>
                    </tr>
                </table>
                <div id="match-strategy-graph-wrapper">
                    <canvas id="spider-chart" display="false" ></canvas>
                </div>
                <!--Chart.js-->
            </div>
            <!--RED TEAM TABLE-->
            <table class="stats">
                <colgroup>
                    <col span="1" style="width:33%">
                <!--HEADINGS-->
                <tr>
                    <th></th>
                    <% for(let i = 0; i < 3; i++) { %>
                        <th <%- `class="${matchup[i].gm_alliance} team${matchup[i].team_master_tm_number}"` %> >
                            <%=  `(${matchup[i].api_rank}) ${matchup[i].tm_name} ${matchup[i].team_master_tm_number}` %>
                        </th>
                    <% } %>
                </tr> 
                <!--Win/Loss/Tie-->
                <tr>
                    <td>
                        Win/Loss/Tie
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td >
                            <%=(matchup[i].api_win || 0) + "/" + (matchup[i].api_loss || 0) + "/" + (matchup[i].api_tie || 0)%>
                        </td>
                    <% } %>
                </tr>
                <!--AVG SCORE-->
                <tr>
                    <td>
                        Score
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td >
                            <%= Math.round(matchup[i].total_game_score_avg) %>
                        </td>
                    <% } %>
                </tr>
                <!--AUTON BREAKDOWN-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>Total Score- #coral, #algae dislodged, #algae scored</p>
                            </div>
                        </button>
                        <p>Auton</p>
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td>
                            <%-columnSummary({
                                header: matchup[i].auton_total_score_avg,
                                list: [
                                    [matchup[i].auton_coral_scored_avg, "c"],
                                    [matchup[i].auton_algae_dislodge_avg, "d"],
                                    [matchup[i].auton_algae_in_net_avg + matchup[i].auton_algae_in_processor_avg, "a.s"],
                                ]
                            })%>
                        </td>
                    <% } %>
                </tr>
                <!--TELEOP CORAL-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>#Coral Total Score in Teleop- # in L1/L2/L3/L4</p>
                            </div>
                        </button>
                        <p>T. Coral</p>
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td >
                            <%-columnSummary({
                                header: matchup[i].teleop_coral_scored_l1_avg * 2  + matchup[i].teleop_coral_scored_l1_avg * 3 + matchup[i].teleop_coral_scored_l3_avg * 4 + matchup[i].teleop_coral_scored_l4_avg * 5 ,
                                list: [
                                    [matchup[i].teleop_coral_scored_l1_avg,""],
                                    [matchup[i].teleop_coral_scored_l2_avg, ""],
                                    [matchup[i].teleop_coral_scored_l3_avg, ""],
                                    [matchup[i].teleop_coral_scored_l4_avg, ""],
                                ],
                                alwaysShow: true
                            })%>
                        </td>
                    <% } %>
                </tr>
                <!--TELEOP Algae-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>#Avg Algae Total Score in Teleop- # in processor avg, <br> # in net avg</p>
                            </div>
                        </button>
                        <p>T. Algae</p>
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td >
                            <%-columnSummary({
                                header: matchup[i].teleop_algae_in_processor_avg * 2 + matchup[i].teleop_algae_in_net_avg * 4,
                                list: [
                                    [matchup[i].teleop_algae_in_processor_avg, "p"],
                                    [matchup[i].auton_algae_dislodge_avg, "d"],
                                    [matchup[i].teleop_algae_in_net_avg, "n"],
                                ]
                            })%>
                        </td>
                    <% } %>
                </tr>
                </tr>
                <!--ENDGAME-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>Avg Score- #Successful climbs for Park/Shallow/Deep</p>
                            </div>
                        </button>
                        <p>Endgame</p>
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td class= <%= matchup[i].team_master_tm_number%>
                            <p>
                                <%-columnSummary({
                                    header: matchup[i].endgame_park_avg*2 + matchup[i].endgame_shallow_climb_avg*6 + matchup[i].endgame_deep_climb_avg*12,
                                    list: [
                                        [matchup[i].endgame_park_sum, ""],
                                        [matchup[i].endgame_shallow_climb_sum, ""],
                                        [matchup[i].endgame_deep_climb_sum, ""],
                                    ],
                                    alwaysShow: true
                                })%>
                                
                            </p>
                        </td>
                    <% } %>
                </tr>
                <!--Ground Pickup-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>Has ground pickup</p>
                            </div>
                        </button>
                        <p>Gnd Pick</p>
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td class= <%= matchup[i].team_master_tm_number%>
                            
                        </td>
                    <% } %>
                </tr>

                <!--OPR-->
                <tr>
                    <td>
                        OPR (Rank)
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td >
                            <%= Math.round(matchup[i].api_opr) + " (" + matchup[i].api_opr_rank + ")" %>
                        </td>
                    <% } %>
                </tr>
                <!--DPR-->
                <tr>
                    <td>
                        DPR (Rank)
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td >
                            <%= Math.round(matchup[i].api_dpr) + " (" + matchup[i].api_dpr_rank + ")" %>
                        </td>
                    <% } %>
                </tr>

                <!-- misc 
                <tr>
                    <td>
                        Has Ground Intake
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td >
                            <%= Math.round(matchup[i].total_game_score_avg) %>
                        </td>
                    <% } %>
                </tr>

                                <tr>
                    <td>
                        Trap Success Rate
                    </td>
                    <% for(let i = 0; i < 3; i++) { %>
                        <td class= <%= matchup[i].team_master_tm_number%>>
                            <%=matchup[i].endgame_total_score_avg ? matchup[i].endgame_total_score_avg.toFixed(1) : "N/A"%>
                        </td>
                    <% } %>
                </tr>
                -->
                
            </table>

            <!-------------------------------------------------------------------------------------->

            <!--BLUE TEAM TABLE-->
            <table class="stats">
                <colgroup>
                    <col span="1" style="width:33%">
                <!--HEADINGS-->
                <tr>
                    <th></th>
                    <% for(let i = 3; i < 6; i++) { %>

                        <th <%- `class="${matchup[i].gm_alliance} team${matchup[i].team_master_tm_number}"` %> >
                            <%=  `(${matchup[i].api_rank}) ${matchup[i].tm_name} ${matchup[i].team_master_tm_number}` %>
                        </th>
                    <% } %>
                </tr> 
                <!--Win/Loss/Tie-->
                <tr>
                    <td>
                        Win/Loss/Tie
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td >
                            <%=(matchup[i].api_win || 0) + "/" + (matchup[i].api_loss || 0) + "/" + (matchup[i].api_tie || 0)%>
                        </td>
                    <% } %>
                </tr>
                <!--AVG SCORE-->
                <tr>
                    <td>
                        Score
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td >
                            <%= Math.round(matchup[i].total_game_score_avg) %>
                        </td>
                    <% } %>
                </tr>
                <!--AUTON BREAKDOWN-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>Total Score- #coral, #algae dislodged, #algae scored</p>
                            </div>
                        </button>
                        <p>Auton</p>
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td >
                            <%-columnSummary({
                                header: matchup[i].auton_total_score_avg,
                                list: [
                                    [matchup[i].auton_coral_scored_avg, "c"],
                                    [matchup[i].auton_algae_dislodge_avg, "d"],
                                    [matchup[i].auton_algae_in_net_avg + matchup[i].auton_algae_in_processor_avg, "a.s"],
                                ]
                            })%>
                        </td>
                    <% } %>
                </tr>
                <!--TELEOP CORAL-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>#Coral Total Score in Teleop- # in L1/L2/L3/L4</p>
                            </div>
                        </button>
                        <p>T. Coral</p>
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td >
                            <%-columnSummary({
                                header: matchup[i].teleop_coral_scored_l1_avg * 2  + matchup[i].teleop_coral_scored_l1_avg * 3 + matchup[i].teleop_coral_scored_l3_avg * 4 + matchup[i].teleop_coral_scored_l4_avg * 5 ,
                                list: [
                                    [matchup[i].teleop_coral_scored_l1_avg,""],
                                    [matchup[i].teleop_coral_scored_l2_avg, ""],
                                    [matchup[i].teleop_coral_scored_l3_avg, ""],
                                    [matchup[i].teleop_coral_scored_l4_avg, ""],
                                ],
                                alwaysShow: true,
                            })%>
                        </td>
                    <% } %>
                </tr>
                <!--TELEOP Algae-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>#Avg Algae Total Score in Teleop- # in processor avg, <br> # in net avg</p>
                            </div>
                        </button>
                        <p>T. Algae</p>
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td >
                            <%-columnSummary({
                                header: matchup[i].teleop_algae_in_processor_avg * 2 + matchup[i].teleop_algae_in_net_avg * 4,
                                list: [
                                    [matchup[i].teleop_algae_in_processor_avg, "p"],
                                    [matchup[i].auton_algae_dislodge_avg, "d"],
                                    [matchup[i].teleop_algae_in_net_avg, "n"],
                                ]
                            })%>
                        </td>
                    <% } %>
                </tr>
                </tr>
                <!--ENDGAME-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>Avg Score- #Successful climbs for Park/Shallow/Deep</p>
                            </div>
                        </button>
                        <p>Endgame</p>
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td class= <%= matchup[i].team_master_tm_number%>
                            <%-columnSummary({
                                header: matchup[i].endgame_park_avg*2 + matchup[i].endgame_shallow_climb_avg*6 + matchup[i].endgame_deep_climb_avg*12,
                                list: [
                                    [matchup[i].endgame_park_sum, ""],
                                    [matchup[i].endgame_shallow_climb_sum, ""],
                                    [matchup[i].endgame_deep_climb_sum, ""],
                                ],
                                alwaysShow: true
                            })%>
                        </td>
                    <% } %>
                </tr>
                <!--Ground Pickup-->
                <tr>
                    <td>
                        <button class="help-button">?
                            <div class="help-box">
                                <p>Has ground pickup</p>
                            </div>
                        </button>
                        <p>Gnd Pick</p>
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td class= <%= matchup[i].team_master_tm_number%>
                            
                        </td>
                    <% } %>
                </tr>

                <!--OPR-->
                <tr>
                    <td>
                        OPR (Rank)
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td >
                            <%= Math.round(matchup[i].api_opr) + " (" + matchup[i].api_opr_rank + ")" %>
                        </td>
                    <% } %>
                </tr>
                <!--DPR-->
                <tr>
                    <td>
                        DPR (Rank)
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>

                        <td >
                            <%= Math.round(matchup[i].api_dpr) + " (" + matchup[i].api_dpr_rank + ")" %>
                        </td>
                    <% } %>
                </tr>
                <!--MISC
                <tr>
                    <td>
                        Trap Success Rate
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>
                        <td class= <%= matchup[i].team_master_tm_number%>>
                            <%=matchup[i].endgame_total_score_avg ? matchup[i].endgame_total_score_avg.toFixed(1) : "N/A"%>
                        </td>
                    <% } %>
                </tr>
                <tr>
                    <td>
                        Has Ground Intake
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>
                        <td >
                            Yes
                        </td>
                    <% } %>
                </tr>
                <tr>
                    <td>
                        Can Pass Under Stage
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>
                        <td >
                            Yes
                        </td>
                    <% } %>
                </tr>
                <tr>
                    <td>
                        Activates Co-Op
                    </td>
                    <% for(let i = 3; i < 6; i++) { %>
                        <td >
                            <% matchup[i].teleop_coop_button_press_avg%>
                        </td>
                    <% } %>
                </tr> -->

            </table>
        </div>
        <canvas id="strategy-chart" display="false" ></canvas>
        
        <!--
        <div class="strategy-display">
             <!--<em> is for red text and <b> is for blue text
            <p class="strategy-header">
                Suggested Strategy for <b>Blue Team</b>
            </p>
            <div class="strategy-divider">ㅤ</div>
            <p>
                <%#- info.blueStrategy[0] %>
            </p>
            <p>
                <%#- info.blueStrategy[1] %>
            </p>
            <p>
                <%#- info.blueStrategy[2] %>
            </p>
        </div>

        <div class="strategy-display">
            <!--<em> is for red text and <b> is for blue text
           <p class="strategy-header">
               Suggested Strategy for <em>Red Team</em>
           </p>
           <div class="strategy-divider">ㅤ</div>
           <p>
               <%#- info.redStrategy[0] %>
           </p>
           <p>
               <%#- info.redStrategy[1] %>
           </p>
           <p>
               <%#- info.redStrategy[2] %>
           </p>
       </div>
    -->

    </div>
</body>
