<!DOCTYPE html>
<html lang="en">

<body>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" defer></script>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <script type="module" src="../static/scripts/match-listing.js" defer></script>
    <div id="page-holder">
        <h1 id="match-listing-title">Matches</h1>
        <div id="match-scroller">
            <% for (let i=0; i < teams.length; i++) { %>
                <div class="match-container hidden" game_type = <%= teams[i].gm_game_type %> game_number = <%= teams[i].gm_number %>>
                    <%if (runningMatch == i) { %>
                        <table class="match-top" style="background-color:#FFF5D6">
                    <% } else {%>
                        <table class="match-top">
                    <%}%>
                        <th>
                            <%= "Match " + (i + 1) %>
                        </th>
                        <th>
                            <%= teams[i].time %>
                        </th>
                        <th>
                            <%if(isAdmin) { %>
                                <%if(runningMatch == i) { %>
                                    <div class="start-stop-button">
                                        <img src="../static/images/stop-button.png">
                                    </div>
                                <% } else {%>
                                    <div class="start-stop-button">
                                        <img src="../static/images/play-button.png">
                                    </div>
                                <%}%>
                            <% } %>
                        </th>
                    </table>
                    <%if (runningMatch == i) { %>
                        <table class="match-bottom" style="background-color:#FFF5D6">
                    <% } else {%>
                        <table class="match-bottom">
                    <%}%>                        <% for (let j = 1; j <= 3; j++) { %>
                            <th class="red"><%= teams[i]["r" + j + "_team_number"] %></th>
                        <%}%>
                        <% for (let j = 1; j <= 3; j++) { %>
                            <th class="blue"><%= teams[i]["b" + j + "_team_number"] %></th>
                        <%}%>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</body>