<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <div id="page-holder">
        <div class="small-input-container" id="select-x">
            <label id="select-match" for="select-match"><b>Select Match:</b></label>
            <select id="available-matches" name="select-match">
                <% for(let i = 0; i < gameNumbers.length; i++) { %>
                    <%if(gameNumbers[i].gm_number == match) {%>
                        <option selected>
                            <%= gameNumbers[i].gm_number %>
                        </option>
                    <%} else {%>
                        <option>
                            <%= gameNumbers[i].gm_number %>
                        </option>
                    <%}%>
                <% } %>
            </select>
        </div>
            <!--RED TEAM TABLE-->
        <div id="match-strategy-container">


             <table id="alliance-properties">
                <thead>
                    <tr>
                        <th>Predicted Winner</th>
                        <th>Red</th>
                        <th class="R">
                            <%=
                            (
                                (
                                    matchup[0].api_auton_opr_calc +
                                    matchup[0].auton_climb_successful_avg*15 + 
                                    matchup[0].api_teleop_opr_calc + 
                                    matchup[0].endgame_climb_l1_success_avg * 10 +
                                    matchup[0].endgame_climb_l2_success_avg * 20 + 
                                    matchup[0].endgame_climb_l3_success_avg * 30
                                )
                                +
                                (
                                    matchup[1].api_auton_opr_calc +
                                    matchup[1].auton_climb_successful_avg*15 + 
                                    matchup[1].api_teleop_opr_calc + 
                                    matchup[1].endgame_climb_l1_success_avg * 10 +
                                    matchup[1].endgame_climb_l2_success_avg * 20 + 
                                    matchup[1].endgame_climb_l3_success_avg * 30
                                )
                                +
                                (
                                    matchup[2].api_auton_opr_calc +
                                    matchup[2].auton_climb_successful_avg*15 + 
                                    matchup[2].api_teleop_opr_calc + 
                                    matchup[2].endgame_climb_l1_success_avg * 10 +
                                    matchup[2].endgame_climb_l2_success_avg * 20 + 
                                    matchup[2].endgame_climb_l3_success_avg * 30
                                )
                            ).toFixed(1)
                            %>
                        </th>
                        <th>Blue</th>
                        <th class="B">
                            <%=
                            (
                                (
                                    matchup[3].api_auton_opr_calc +
                                    matchup[3].auton_climb_successful_avg*15 + 
                                    matchup[3].api_teleop_opr_calc + 
                                    matchup[3].endgame_climb_l1_success_avg * 10 +
                                    matchup[3].endgame_climb_l2_success_avg * 20 + 
                                    matchup[3].endgame_climb_l3_success_avg * 30
                                )
                                +
                                (
                                    matchup[4].api_auton_opr_calc +
                                    matchup[4].auton_climb_successful_avg*15 + 
                                    matchup[4].api_teleop_opr_calc + 
                                    matchup[4].endgame_climb_l1_success_avg * 10 +
                                    matchup[4].endgame_climb_l2_success_avg * 20 + 
                                    matchup[4].endgame_climb_l3_success_avg * 30
                                )
                                +
                                (
                                    matchup[5].api_auton_opr_calc +
                                    matchup[5].auton_climb_successful_avg*15 + 
                                    matchup[5].api_teleop_opr_calc + 
                                    matchup[5].endgame_climb_l1_success_avg * 10 +
                                    matchup[5].endgame_climb_l2_success_avg * 20 + 
                                    matchup[5].endgame_climb_l3_success_avg * 30
                                )
                            ).toFixed(1)
                            %>
                        </th>
                    </tr>
                </thead>
            </table>


            <table class="alliance-table red-alliance">
                <!-- HEADINGS -->
                <thead>
                    <tr>
                        <th></th>
                        <th>Rank/Win/Loss/Tie</th>
                        <th>Power Score</th>
                        <th>DPR</th>
                        <th>Robot Type (%)</th>
                        <th>Shooting Range</th>
                        <th>Climb (A/E, Level)</th>
                        <th>Shooting Status</th>
                        <th>Drive Base</th>
                        <th>Drive Practice Time</th>
                        <th>Go Over Bump/Trench</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < 3; i++) { %>
                        <tr>
                            <td>
                                <%= `${matchup[i].tm_name} ${matchup[i].team_master_tm_number}`%>
                            </td>
                            <td>
                                <%= `${matchup[i].api_rank}/${matchup[i].api_win}/${matchup[i].api_loss}/${matchup[i].api_tie}`%>
                            </td>
                            <td>
                                <%= (
                                    matchup[i].api_auton_opr_calc +
                                    matchup[i].auton_climb_successful_avg*15 + 
                                    matchup[i].api_teleop_opr_calc + 
                                    matchup[i].endgame_climb_l1_success_avg * 10 +
                                    matchup[i].endgame_climb_l2_success_avg * 20 + 
                                    matchup[i].endgame_climb_l3_success_avg * 30
                                ).toFixed(1) %>
                            </td>
                            <td>
                                <%= matchup[i].api_dpr != null ? matchup[i].api_dpr.toFixed(1) : "N/A" %>
                            </td>
                            <td>
                                <%=
                                `
                                Cylcing: ${(matchup[i].teleop_cycling_time_avg/1400).toFixed(1)}%\n
                                Stockpiling: ${(matchup[i].teleop_stockpiling_time_avg/1400).toFixed(1)}%\n
                                Defense: ${(matchup[i].teleop_defense_time_avg/1400).toFixed(1)}%\n
                                Broken: ${(matchup[i].teleop_broken_time_avg/1400).toFixed(1)}%\n
                                `
                                %>
                            </td>
                            <td>
                                <%= matchup[i].pitSummary?.shootingRange || "N/A" %>
                            </td>
                            <td>
                                <%= `
                                Auton: ${(matchup[i].auton_climb_successful_avg)}\n
                                Endgame: L1: ${(matchup[i].endgame_climb_l1_success_avg)}, 
                                         L2: ${(matchup[i].endgame_climb_l2_success_avg)},
                                         L3: ${(matchup[i].endgame_climb_l3_success_avg)},
                                `%>
                            </td>
                            <td>
                            
                            <p>
                                Shoot 
                                <% if (matchup[i].robot_shoot_from_anywhere_avg > 0) { %>
                                    <p> from anywhere</p>
    
                                <% } %>
                                <% if (matchup[i].robot_shoot_while_moving_avg > (0) ) { %>
                                    <p> while moving</p>
    
                                <% } %>
                                <% if (matchup[i].robot_shoot_while_moving_avg == (0) &&  matchup[i].robot_shoot_from_anywhere_avg == 0) { %>
                                    <p> from specific locations only</p>
    
                                <% } %>

                            </p>
                            
                            </td>
                            <td>
                                <%= matchup[i].pitSummary?.driveBase || "N/A" %>
                            </td>
                            <td>
                                <%= matchup[i].pitSummary?.drivePracticeTime || "N/A" %>
                            </td>
                            <td>
                            
                            <p>
                                Robot goes 
                                <% if (matchup[i].robot_drive_over_bump_avg > 0) { %>
                                    <p>over bump</p>
    
                                <% } %>
                                <% if (matchup[i].robot_drive_under_trench_avg > (0)  &&  matchup[i].robot_drive_over_bump_avg > 0) { %>
                                    <p>/</p>
    
                                <% } %>
                                <% if (matchup[i].robot_drive_under_trench_avg > (0) ) { %>
                                    <p>under trench</p>
    
                                <% } %>

                            </p>
                            
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <table class="alliance-table blue-alliance">
                <!-- HEADINGS -->
                <thead>
                    <tr>
                        <th></th>
                        <th>Rank/Win/Loss/Tie</th>  
                        <th>Power Score</th>
                        <th>DPR</th>
                        <th>Robot Type (%)</th>
                        <th>Shooting Range</th>
                        <th>Climb (A/E, Level)</th>
                        <th>Shooting Status</th>
                        <th>Drive Base</th>
                        <th>Drive Practice Time</th>
                        <th>Go Over Bump/Trench</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 3; i < 6; i++) { %>
                        <tr>
                            <td>
                                <%= `${matchup[i].tm_name} ${matchup[i].team_master_tm_number}`%>
                            </td>
                            <td>
                                <%= `${matchup[i].api_rank}/${matchup[i].api_win}/${matchup[i].api_loss}/${matchup[i].api_tie}`%>
                            </td>
                            <td>
                                <%= (
                                    matchup[i].api_auton_opr_calc +
                                    matchup[i].auton_climb_successful_avg*15 + 
                                    matchup[i].api_teleop_opr_calc + 
                                    matchup[i].endgame_climb_l1_success_avg * 10 +
                                    matchup[i].endgame_climb_l2_success_avg * 20 + 
                                    matchup[i].endgame_climb_l3_success_avg * 30
                                ).toFixed(1) %>
                            </td>
                            <td>
                                <%= matchup[i].api_dpr != null ? matchup[i].api_dpr.toFixed(1) : "N/A" %>
                            </td>
                            <td>
                                <%=
                                `
                                Cylcing: ${(matchup[i].teleop_cycling_time_avg/1400).toFixed(1)}%\n
                                Stockpiling: ${(matchup[i].teleop_stockpiling_time_avg/1400).toFixed(1)}%\n
                                Defense: ${(matchup[i].teleop_defense_time_avg/1400).toFixed(1)}%\n
                                Broken: ${(matchup[i].teleop_broken_time_avg/1400).toFixed(1)}%\n
                                `
                                %>
                            </td>
                            <td>
                                <%= matchup[i].pitSummary?.shootingRange || "N/A" %>
                            </td>
                            <td>
                                <%= `
                                Auton: ${(matchup[i].auton_climb_successful_avg)}\n
                                Endgame: L1: ${(matchup[i].endgame_climb_l1_success_avg)}, 
                                         L2: ${(matchup[i].endgame_climb_l2_success_avg)},
                                         L3: ${(matchup[i].endgame_climb_l3_success_avg)},
                                `%>
                            </td>
                            <td>
                            
                            <p>
                                Shoot 
                                <% if (matchup[i].robot_shoot_from_anywhere_avg > 0) { %>
                                    <p> from anywhere</p>
    
                                <% } %>
                                <% if (matchup[i].robot_shoot_while_moving_avg > (0) ) { %>
                                    <p> while moving</p>
    
                                <% } %>
                                <% if (matchup[i].robot_shoot_while_moving_avg == (0) &&  matchup[i].robot_shoot_from_anywhere_avg == 0) { %>
                                    <p> from specific locations only</p>
    
                                <% } %>

                            </p>
                            
                            </td>
                            <td>
                                <%= matchup[i].pitSummary?.driveBase || "N/A" %>
                            </td>
                            <td>
                                <%= matchup[i].pitSummary?.drivePracticeTime || "N/A" %>
                            </td>
                            <td>
                            
                            <p>
                                Robot goes 
                                <% if (matchup[i].robot_drive_over_bump_avg > 0) { %>
                                    <p>over bump</p>
    
                                <% } %>
                                <% if (matchup[i].robot_drive_under_trench_avg > (0)  &&  matchup[i].robot_drive_over_bump_avg > 0) { %>
                                    <p>/</p>
    
                                <% } %>
                                <% if (matchup[i].robot_drive_under_trench_avg > (0) ) { %>
                                    <p>under trench</p>
    
                                <% } %>

                            </p>
                            
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <div class="strategy-spacer"></div>

            <h2 class="comments-section-title">Team Comments</h2>

            <div class="comments-wrapper">

            <% for (let i = 0; i<6; i++) { %>
                    <div class="comment-block <%= i < 3 ? 'red' : 'blue' %>">

                        <div class="comment-header">
                            <%= `${matchup[i].tm_name} ${matchup[i].team_master_tm_number}` %>
                        </div>

                        <% for (let j = 0; j<matchup[i].comments.length; ++j) { %>
                            <div class="comment-row">
                                <div class="comment-cell-label">
                                    <%= `C${j+1}` %>
                                </div>

                                <div class="comment-cell-text">
                                    <%= matchup[i].comments[j].gc_comment %>
                                </div>
                            </div>
                        <% } %>
                        <% if (!matchup[i].comments.length) { %>
                        <div class="no-comments-message">
                            No comments recorded yet.
                        </div>
                        <% } %>
                    </div>
            <% } %>
            </div>
        </div>
        
        <!--
        <div class="strategy-display">
             <!--<em> is for red text and <b> is for blue text
            <p class="strategy-header">
                Suggested Strategy for <b>Blue Team</b>
            </p>
            <div class="strategy-divider">ㅤ</div>
            <p>
                <%#- info.blueStrategy[0] %>
            </p>
            <p>
                <%#- info.blueStrategy[1] %>
            </p>
            <p>
                <%#- info.blueStrategy[2] %>
            </p>
        </div>

        <div class="strategy-display">
            <!--<em> is for red text and <b> is for blue text
           <p class="strategy-header">
               Suggested Strategy for <em>Red Team</em>
           </p>
           <div class="strategy-divider">ㅤ</div>
           <p>
               <%#- info.redStrategy[0] %>
           </p>
           <p>
               <%#- info.redStrategy[1] %>
           </p>
           <p>
               <%#- info.redStrategy[2] %>
           </p>
       </div>
    -->

    </div>
</body>
