<!DOCTYPE HTML>
<html lang="en">

<body>
    <div id="page-holder">
        <div class="small-input-container" id="team-display-selection-container">
            <label for="team-display-selector"> <b>Select team: </b> </label>
            <select name="team-display-selector" id="team-display-selector">
                <% for(let i = 0; i < teams.length; i++) { %>
                    <%if(teams[i] == selectedTeam) {%>
                        <option selected>
                            <%= teams[i] %>
                        </option>
                    <%} else {%>
                        <option>
                            <%= teams[i] %>
                        </option>
                    <%}%>
                <% } %>
            </select>
        </div>
        <div id="team-details-tabs">
            <button <%- `class= "team-details-tab ${(selectedPage == "game-data-page" ? "selected" : "")}"`%> page="game-data-page">
                Game Data
            </button>
            <button <%- `class= "team-details-tab ${(selectedPage == "pit-data-page" ? "selected" : "")}"`%> page="pit-data-page">
                Pit Data
            </button>
            <button <%- `class= "team-details-tab ${(selectedPage == "comments-display-page" ? "selected" : "")}"`%> page="comments-display-page">
                Comments
            </button>
        </div>
        <% if(selectedPage == "game-data-page") {%>
            <div id="game-data-page" class="team-details-scroller" selected>
        <% } else {%>
            <div id="game-data-page" class="team-details-scroller" style="display:none;">
        <% } %>

            <div class="team-display-table-container">
                <table class="team-display-table">
                    <thead>
                        <tr>
                            <th>Match #</th>
                            <th>Game Score</th>
                            <th>Auton</th>
                            <th>T. Coral</th>
                            <th>T. Proc.</th>
                            <th>T. Net</th>
                            <th>End Game</th>
                            <th>Scouter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < teamData.length; ++i) {%>
                            <tr>
                                <td>
                                    <% const gnum=parseFloat(teamData[i].game_matchup_gm_number)-1; if(matchVideos[gnum]) { %>
                                        <a href=<%-matchVideos[gnum][1]%> target="_blank">
                                            <%= teamData[i].game_matchup_gm_number %> 
                                        </a>
                                    <% } else { %>
                                        <p>
                                            <%= teamData[i].game_matchup_gm_number %> 
                                        </p>
                                    <% } %>
                                </td>
                                <td>
                                    <%= teamData[i].total_game_score %>
                                </td>
                                <td>
                                    <%= teamData[i].auton_total_score %>
                                </td>
                                <td>
                                    <%= teamData[i].teleop_coral_scored %>
                                </td>
                                <td>
                                    <%= teamData[i].teleop_algae_in_processor %>
                                </td>
                                <td>
                                    <%= teamData[i].teleop_algae_in_net %>
                                </td>
                                

                                <td>
                                    <% if (teamData[i].endgame_park) { %>
                                        parked
                                    <% } else if (teamData[i].endgame_shallow_climb) { %>
                                        shallow climb
                                    <% } else if (teamData[i].endgame_deep_climb) { %>
                                        deep climb
                                    <% } else { %>
                                        none
                                    <% } %>
                                </td>
                                <td>
                                    <%= teamData[i].gd_um_id%>
                                </td>
                               
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <label id="select-match" for="select-match"><b>Show Auton Path for Match:</b></label>
            <select id="auton-path-select" name="select-match">
                <% for(let i = 0; i < teamData.length; i++) { %>
                    <%if(teamData[i].game_matchup_gm_number == match) {%>
                        <option auton_path="<%=teamData[i].gd_auton_path%>" selected>
                            <%= teamData[i].game_matchup_gm_number%>
                        </option>
                    <%} else {%>
                        <option auton_path="<%=teamData[i].gd_auton_path%>" >
                            <%= teamData[i].game_matchup_gm_number %>
                        </option>
                    <%}%>
                <% } %>
            </select>
            <div class="heatmap-container">
                <div class="canvas-container">
                    <canvas id="heat-map"></canvas>
                </div>
            </div>

        </div>
        
        <% if(selectedPage == "pit-data-page") {%>
            <div id="pit-data-page" class="team-details-scroller" selected>
        <% } else {%>
            <div id="pit-data-page" class="team-details-scroller" style="display:none;">
        <% } %>
            <p id="pit-data-title">
                <%=teamInfo.tm_name + " - Rank " + (teamInfo.api_rank != null ? teamInfo.api_rank : "None")%>
            </p>

            <p class="pit-data-text">
                <%="OPR: " + (teamInfo.api_opr != null ? teamInfo.api_opr.toFixed(1) : "None") + " - DPR: "
                 + (teamInfo.api_dpr != null ? teamInfo.api_dpr.toFixed(1) : "None")%>
                <br>
                <%="Drivetrain: " + (teamInfo.Drive_Train_Type ?? "Unknown")%>
                <br>
                <%="Wheels used: " + (teamInfo.Wheel_Type ?? "Unknown") %>
                <br>
                <%="Weight: " + (teamInfo.Robot_Weight ?? "Unknown ") + "lbs"%>
                <br>
                <%="Length: " + (teamInfo.Robot_Length ?? "Unkown ") 
                + "in    Width: " + (teamInfo.Robot_Width ?? "Unknown ")
                + "in    Height: " + (teamInfo.Robot_Height ?? "Unknown ") + "in"%>
            </p>
            <div id="team-pictures-container">
                <button id="arrow-left">
                    <img src="../static/images/arrow-left.svg">
                </button>
                <% let attributes = " "
                    for(let i = 0; i < teamPictures.length; i++) {
                        attributes += "pic" + i + "=" + teamPictures[i] + " "
                    }
                 %>
                <img <%-attributes%> num-pictures=<%-teamPictures.length%> src= <%- teamPictures[0] %> alt="Team Picture" id="team-picture">
                <button id="arrow-right">
                    <img src="../static/images/arrow-right.svg">
                </button>
            </div>
        </div>

        <% if(selectedPage == "comments-display-page") {%>
            <div id="comments-display-page" class="team-details-scroller" selected>
        <% } else {%>
            <div id="comments-display-page" class="team-details-scroller" style="display:none;">
        <% } %>
            <div class="team-display-table-container">
                <table class="team-display-table">
                    <colgroup>
                        <col span="1" style="width: 25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Match</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i = 0; i < comments.length; i++) { %> 
                            <tr>
                                <td>
                                    <%= comments[i].game_matchup_gm_number %>
                                </td>
                                <td>
                                    <%= comments[i].gc_comment %>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
